<div class="form">
    <div class="form-element">
        <label for="name">Name</label>
        <input id="name" type="text" placeholder="Enter Name">
    </div>
    <div class="form-element">
        <label for="email">Email</label>
        <input id="email" type="text" placeholder="Enter Email">
    </div>    
    <div class="form-element">
        <label for="phoneNumber">Phone Number</label>
        <input id="phoneNumber" type="text" placeholder="Enter Phone Number">
    </div>    
    <div class="form-element">
        <label for="password">Password</label>
        <input id="password" type="text" type="password" placeholder="Enter Password">
    </div>    
    <div class="form-element">
        <label for="confirmPassword">Confirm Password</label>
        <input id="confirmPassword" type="text" placeholder="Enter Confirm Password">
    </div>    
    <button>SAVE</button>
</div>